*{
    font-family: "Montserrat" !important;
}

.bg-navy{
    background-color: #12132c !important;
}

.text-gray-500{
    color: #cecece !important;
}

.carousel-item::before{
    content: "";
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #0000008c !important;
    z-index: 0;
    position: absolute;
}

ul{
    list-style: none;
    padding-left: 0 !important;
}

.text-justify{
    text-align: justify !important;
}

