<IfModule mod_rewrite.c>
Options -Multiviews
RewriteEngine On
RewriteBase /UNLZ-APPWEB-1C-2024/Grupo-1/MVC/public
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>