*{
    margin:0;
    padding: 0;
    font-family:"poppins";
}
.bg-dark{ /* vamos  a utilizarlo de color para el heather y footer dice dark pero seria orange*/
    background-color:#ed8505;
}

.bg-drak2{ /* vamos  a utilizarlo de color para el heather y footer dice dark pero seria orange*/
    background-color:#cd8d3e;
}
/* color del header*/
header{ 
   /* background-color:#0b0f19; */
    color: white;
}

.d-flex{
    display: flex;

}

.display-colum{
    flex-direction:column;
}

.justify-content-between{
    justify-content: space-between;

}

.justify-content-center{
    justify-content: center;

}

.align-center{
    align-items: center;
}
.container{
margin-right: 14rem;
margin-left: 14rem;
}

.logo{
   color:white;
   text-decoration: none;
   font-size: 1.2rem;
   font-weight: 700;
   padding: 0.8rem 0;

}

.nav-item{
    color:#bbbaba;
    padding: 0.8rem;
    text-decoration: none;
    transition: color 2s;


}
.nav-item:hover{
    color: #FFFFFF;
}

nav ul {
    list-style: none;
}

.section-1{
height: 500px;
background-image:url(./imagen/background.jpg);
background-size: cover;
background-position: center;
position: relative;

}

.content-1{
    height: 100%;
    margin: 00px 5rem;
}

.text-white{
    color: white;
}

.text-muted{
    color:#ccc;
}

.fs-2{
    font-size: 2.5rem;
}

.fs-1{
    font-size: 2rem;
}

.overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    background: linear-gradient(180deg,rgba(11,15,25,0.08)0%, rgba(11,15,25,0.18)100%);

}
.z-index{
    z-index: 1;
}

.py-3{
    padding-top: 3rem;
    padding-bottom: 3rem;

}

.text-center{
    text-align: center;
}

.text-grey-500{
    color:#9f999a;
    
}

.mb-1{
    margin-bottom: 1rem;
}
.mb-2{
    margin-bottom: 2rem;
}

.mb-3{
    margin-bottom: 3rem;
}

.card{
    width: 300px;
}

.text-small{
    font-size: 0.8rem;

}

.ion-icon{
    background-color:#0b0f19;
    color: white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    
}
.ion-icon ion-icon{
    font-size: 1.7rem;
}

.px-10{
    padding-left: 10rem;
    padding-right: 10rem;

}
.w-60{ /* tamaño del logo del footer*/
    width: 60px;
}
.sistemap{
   list-style: none ;
}

.sistemap li a{
    text-decoration: none; /*saca el subrayado*/
 }

 .sistemap li {
 margin-right: 1rem;   
}

@media screen and (max-width: 992px){
    .container{
        margin-right: 7rem;
        margin-left: 7rem;
    }
    .px-md-5{
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

@media screen and (max-width: 824px){
    .card{
        width: 270px;
    }
}

@media screen and (max-width: 764px){
    .card{
        width: 100%;
    }
    .px-md-0{
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 656px){
    .container{
        margin-right: 3rem;
        margin-left: 3rem;
    }
    header div.container{
        flex-direction: column;
    }
    nav{
        padding-bottom: 1rem;
    }
}

